/* Custom Styles */

.card {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  max-height: 220px;
  min-height: 150px;
  min-width: 300px;
  width: 375px;
  height: 220px;
  transition: 0.3s;
}

@media (max-width: 1800px) {
  .card {
    width: 350px;
  }
}
@media (max-width: 1725px) {
  .card {
    width: 375px;
  }
}
@media (max-width: 1350px) {
  .card {
    width: 350px;
  }
}

@media (max-width: 1290px) {
  .card {
    width: 320px;
  }
}

@media (max-width: 1230px) {
	.card {
    height: 200px;
    width: 375px;
	}
}

@media (max-width: 992px) {
	.card {
    height: 180px;
	}
}
@media (max-width: 768px) {
	.card {
    height: 160px;
	}
}

@media (max-width: 576px) {
	.card {
    height: 150px;
	}
}

.card-title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 1rem 0;
	font-family: 'Roboto', sans-serif;
}

.card-tech {
  padding-left: 1.5rem;
}

.card-tech .tech {
  padding: 0 5px;
}

.card-desc {
  text-align: center;
}

.card-links {
  position: absolute;
  bottom: 1rem;
  left: 50%;
}

.card-links a {
  font-size: 2.5em;
  transition: 0.3s;
  position: relative;
  left: -50%;
}
