/* Typography */

footer {
	font-family: 'Reem Kufi', sans-serif;
  font-size: 14px;
}

/* Custom Styles */

footer {
  padding: 0.5rem 0;
  text-align: right;
  font-size: 0.8rem;
  color: #b58900;
}
