/* Custom Styles */

main > .intro {
  font-family: "Reem Kufi", sans-serif;
  font-size: 4em;
  font-weight: 600;
  transition: 0.3s;
}

main > .tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

main .font-icons {
  padding: 10px;
  transition: 0.3s;
}

main .font-icons:hover {
  color: #859900;
}

.role {
  transition: 0.3s;
}

.role:hover {
  color: #6c71c4;
}

.firstName {
  transition: 0.3s;
}

.firstName:hover {
  color: #859900;
}

.lastName {
  transition: 0.3s;
}

.lastName:hover {
  color: #d33682;
}
