/* Custom Styles */

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 4.0em;
	font-weight: 600;
  transition: 0.3s;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

main .font-icons {
	padding: 10px;
  transition: 0.3s;
}

main .font-icons:hover {
	color: #859900;
}
