/* Theme */
html {
  background: #073642;
	color: #2aa198;
}

main .font-icons {
	color: #2aa198;
}

::selection {
  background-color: #2aa198;
  color: #073642;
}

.highlight {
	color: #d33682;
}

.highlight-2 {
  color: #859900;
}

.highlight-3 {
  color: #6c71c4;
}

.code {
  font-family: 'Anonymous Pro', monospace;
}


.particles{
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url('');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  left: 0;
  top: 0;
}
