/* Theme */
html {
  background: #073642;
	color: #2aa198;
}

main .font-icons {
	color: #2aa198;
}

::selection {
  background-color: #2aa198;
  color: #073642;
}

.highlight {
	color: #d33682;
}

.highlight-2 {
  color: #859900;
}

.highlight-3 {
  color: #6c71c4;
}

.code {
  font-family: 'Anonymous Pro', monospace;
}

body,
html {
  height: 100%
}

#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}

.card {
  background-color: #2aa198;
  color: #073642;
}

.card-links a:hover {
  color: #586e75;
}

.font-icons {
  color: #073642;
}

footer {
  color: #b58900;
}

html {
  scroll-behavior: smooth;
}

nav {
  background: #073642;
}

nav #logo img:hover {
  background: #586e75;
}

nav .section-link {
  color: #2aa198;
}

nav .section-link:hover {
  border-bottom: 2px solid #859900;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #073642;
}

::-webkit-scrollbar-thumb {
  background: #2aa198;
}

*:focus {
  outline: none;
}
